article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}h2{font-size:1.5em;margin:0.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:0.83em;margin:1.67em 0;}h6{font-size:0.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}p,pre{margin:1em 0;}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:'';content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}dl,menu,ol,ul{margin:1em 0;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}


body {
	margin: 0;
	padding: auto;
}

/*===========================================================ASIDE===================================================================*/
aside {
	display: block;
	position: fixed;
	right: 0;
	background-color: #4acaa8;
	width: 25%;
	height: 100vh;
	overflow: scroll;
}

#pictProfile {
	display: block;
	height: 120px;
	width: 120px;
	background-image: url('../image/auteurPict4.jpg');
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 50%;
}

h1 {
	color: white;
	text-align: center;
}

#descriptionAuteur {
	color: white;
	font-size: 0.9em;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;	
	font-style: italic;
}

ul {
	list-style: none;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
}

.navLi {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	text-align: center;
}

.navLi:hover {
	background-color: white;
	color: #4acaa8;
}

#connectedAdminText {
	color: blue;
	text-align: center;
}

#logOut {
	color: blue;
}


#logOut:hover {
	color: red;
}

#logOutDiv {
	display: flex;
	justify-content: space-around;
}

#social {
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.social {
	color: white;
	font-size: 3em;
}

.social:hover {
	color: orange;
	text-shadow: white 1px 0 10px;
}

/*===========================================================HEADER===================================================================*/

#headerImage {
	width: 75%;
	margin-top: -40px;
}

/*===========================================================CONTENT===================================================================*/

h2 {
	font-size: 3em;
	color: #4acaa8;
}

#content {
	width: 75%;
	text-align: center;
}

.posts {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	border: solid 1px #4acaa8;
}

.textPost {
	margin-left: 1%;
	margin-right: 1%;
}

form {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 90%;
}

form div {
	display: flex;
	margin-bottom: 1vh;
}

textarea {
	width: 100%;
	min-height: 50px;
	margin-bottom: 1vh;
}

.post {
	margin-left: 20px;
	margin-right: 20px;
}

#author {
	height: 4vh;
}

#buttonSubmit {
	float: left;
	width: 20%;
	height: 5vh;
	margin-left: 5%;
	border-radius: 20px;
	background-color: #4acaa8;
	color: white;
	font-weight: bold;
}

.newComment {
	color: #777;
	font-style: italic;
	border-top: solid 3px #4acaa8;
}

.deleteComment {
	color: red;
	font-style: italic;
}

.unReportedComment {
	color: orange;
	font-style: italic;
}

.reportedComment {
	color: red;
	font-style: italic;
}

/*====================================================CONECTION PAGE============================================================*/

#buttonConnectionAdmin {
	margin-top: 40px;
	width: 30%;
	height: 6vh;
	border-radius: 20px;
	background-color: #4acaa8;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

/*====================================================ADMINISTRATOR BOARD=======================================================*/

#boardAdmin {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.managers {
	background-color: #4acaa8;
	color: white;
	width: 30%;
	border-radius: 20px;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

.managers:hover {
	background-color: white;
	color: #4acaa8;
	border: 1px solid #4acaa8;
}


/*=================================================ADMINISTRATOR COMMENTS=====================================================*/

#reportedCommentTitle {
	background-color: red;
	color: white;
	line-height: 2em;
}

#latestCommentTitle {
	background-color: green;
	color: white;
	line-height: 2em;
}

.deleteComments {	
	color: red;
}

.commentsAdminList, .commentsReportedAdminList {
	border-bottom: dashed 1px black;
}

.approveComments {
	color: green;
}

/*=================================================ADMINISTRATOR CHAPTERS====================================================*/

.adminChaptersList {
	border-top: dashed 1px black;
}

.readChapter {
	color: blue;
}

.modifyChapter {
	color: green;
}

.deleteChapter {
	color: red;
}

/*============================================ADMINISTRATOR MODIFY CHAPTERS===================================================*/

#updateButton {
	margin-bottom: 40px;
	width: 30%;
	height: 6vh;
	border-radius: 20px;
	background-color: #4acaa8;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

.post p, .posts p {
	margin-top: 0;
	margin-bottom: 0;
}

.posts p {
	margin-left: 20px;
	margin-right: 20px;
}

.title {
	font-size: 2em;
}

/*============================================ ADMINISTRATOR NEW CHAPTER ======================================================*/

#newDraft {
	margin-bottom: 20px;
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	background-color: #4acaa8;
	color: white;
	font-weight: bold;
}

.comfirmBox {
	position: absolute;
	bottom: 20%;
	left: 20%;
	height: 100px;
	width: 35%;
	background-color: rgba(0,0,0,0.8);
	color: white;
	display: none;
}

.comfirmBox button {
	border-radius: 20px;
	margin-left: 10%;
	margin-right: 10%;
	width: 20%;
}



/*=====================================================================================================================================================*/
/*=====================================================================================================================================================*/
/*=====================================================================================================================================================*/

@media screen and (max-width: 1023px) {

	aside {
		width: 0%;
		top: 15%;
		height: 75vh;
		transition: 0.3s;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	header {
		width: 100%;
	}

	#headerImage {
		width: 100%;
	}

	#content {
		width: 100%;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 3em;
	}

	span {
		font-size: 2em;
	}

	#navOpener {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		border-radius: 50%;
		width: 2em;
		height: 2em;
		right: 0.5%;
		background-color: #4acaa8;
		opacity: 0.4;
		color: white;
		font-size: 2em;
	}

	#latestCommentTitle {
		font-size: 1.3em;
	}

	#commentsReportedAdminList {
		font-size: 1.3em;
	}

	#boardAdmin {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.managers {
		width: 80%;
		margin-bottom: 5%;
	}

	#newDraft {
		width: 80%;
	}

	#buttonSubmit {
		width: auto;
		height: auto;
	}

	#logOutDiv {
		margin-bottom: 40px;
	}
}
