body {
	margin: 0;
	padding: 0;
}

/*===========================================================ASIDE===================================================================*/
aside {
	display: block;
	position: fixed;
	right: 0;
	background-color: #4acaa8;
	width: 25%;
	height: 100vh;
}

#pictProfile {
	display: block;
	height: 120px;
	width: 120px;
	background-image: url('../public/image/auteurPict.jpg');
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 50%;
}

h1 {
	color: white;
	text-align: center;
}

#descriptionAuteur {
	color: white;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;	
	font-style: italic;
}

ul {
	margin-top: 40px;
	list-style: none;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
}

.navLi {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}

.navLi:hover {
	background-color: white;
	color: #4acaa8;
}

#conectedAdminText {
	color: blue;
	text-align: center;
}

#logOut {
	color: blue;
}


#logOut:hover {
	color: red;
}

#logOutDiv {
	display: flex;
	justify-content: space-around;
}

/*===========================================================HEADER===================================================================*/

#headerImage {
	width: 75%;
	margin-top: -40px;
}

/*===========================================================CONTENT===================================================================*/

h2 {
	font-size: 3em;
	color: #4acaa8;
}

#content {
	width: 75%;
	text-align: center;
}

.posts {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	border: solid 1px #4acaa8;
}

.textPost {
	margin-left: 1%;
	margin-right: 1%;
}

form {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 90%;
}

textarea {
	width: 100%;
	min-height: 50px;
}

#author {
	float: left;
	height: 4vh;
}

#buttonSubmit {
	float: left;
	width: 20%;
	height: 5vh;
	margin-left: 5%;
	border-radius: 20px;
	background-color: #4acaa8;
	color: white;
	font-weight: bold;
}

.newComment {
	color: #777;
	font-style: italic;
	border-top: solid 3px #4acaa8;
}

.deleteComment {
	color: red;
	font-style: italic;
}

/*====================================================CONECTION PAGE============================================================*/

#buttonConectionAdmin {
	margin-top: 40px;
	width: 30%;
	height: 6vh;
	border-radius: 20px;
	background-color: #4acaa8;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}